@font-face {
  font-family: "Comfortaa-Regular";
  src: url("../fonts/Comfortaa-Regular.ttf");
}
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  src: url("../fonts/Oswald-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

$background-black: black;

body {
  padding: 50px 0 0 0;
  background: #f7f7f7;
}

.navbar-brand {
  font-family: "Comfortaa-Regular";
  font-size: 2.3rem;
  font-weight: bold;
  vertical-align: bottom;
}

.navbar-dark {
  background-color: $background-black;
}

.comfortaa {
  font-family: "Comfortaa-Regular";
}

.oswald {
  font-family: "Oswald";
  font-size: 1.2rem;
}

.nav-link  {
  color: white;
}

.hover-primary:hover {
  color: #007bff !important;
}

.form-control {
  border-width: 3px;
}

.text-black {
  color: $background-black !important;
}


.card:hover {
  background: #E6E6FA !important;
}

.card-header {
  font-size: 0.8rem;
}

.card-pic {
  height: 156px !important;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.card-header:first-child {
  border-top-left-radius: 0;
}

.card-body {
  min-height: 90px;
}

.card-footer {
  font-size: 0.9rem
}

.no-decoration:hover {
  text-decoration: none;
}

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.footer {
  background: $background-black;
}

.min-size {
  font-size: 0.8rem;
}